.itemWrapper {
  @apply absolute bg-base-300 rounded-lg px-4 overflow-hidden;
  top: 100%;
  left: 0;
  transform: translate(0, 10px);
  z-index: 999;
  max-height: 0;
  cursor: none;
  box-shadow: 0 1px 45px rgba(0, 0, 0, 0.1);
  transition: 0.25s ease-in-out;

  &.open {
    @apply py-4;
    cursor: pointer;
    max-height: 100vh;
  }
}

.itemWrapperInside {
  @apply max-h-40 overflow-y-auto overflow-x-hidden pr-2;
}

.item {
  @apply block break-all p-2 w-full text-left hover:bg-base-200 rounded-lg;
}
